@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap>);
:root {
  --grey: #757575;
  --blue: #2196f3;
  --black: #212121;
  --btn-color: #f5f4fa;
  --white: #ffffff;
  --cellar-fon: #2f303a;
  --team-fon: #f5f4fa;
  --social-links: #afb1b8;
  --duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2em;
  color: var(--grey);
}

img {
  display: block;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--duration);
}

.link:hover,
.link:focus {
  color: var(--blue);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-port {
  background: var(--btn-color);
  width: 73px;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 4px;
  text-align: center;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black);
  transition: background-color, color var(--duration);
}

.btn {
  display: block;
  border: none;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn-port:hover,
.btn-port:focus {
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

.btn-port:active {
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

.primary-btn {
  cursor: pointer;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  list-style: none;
  fill: var(--social-links);
  transition: fill var(--duration);
}

.social-icons-footer-svg {
  width: 20px;
  height: 20px;
  list-style: none;
  fill: var(--white);
  transition: fill var(--duration);
}

.social-icons {
  display: flex;
  list-style: none;
  padding-top: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.social-icons-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  transition: background-color var(--duration);
}

.social-icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--duration);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--blue);
}

.social-icons-link-footer:hover .social-icons-footer-svg,
.social-icons-link-footer:focus .social-icons-footer-svg {
  fill: var(--white);
}

.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: var(--blue);
}

.header {
  background-color: var(--white);
  height: 80px;
}

.nav .link.current {
  color: var(--blue);
  position: relative;
}

.current:after {
  content: "";
  display: block;
  width: 110%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: -3px;
}

.icon-contacts-link {
  text-decoration: none;
  color: inherit;
  transition: color var(--duration);
}

.icon-contact {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: var(--grey);
  vertical-align: middle;
  transition: fill var(--duration);
}

.icon-contact-smart {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--grey);
  vertical-align: middle;
  transition: fill var(--duration);
}

.icon-contacts-link:hover .icon-contact,
.icon-contacts-link:focus .icon-contact {
  fill: var(--blue);
}

.icon-contacts-link:hover .icon-contact-smart,
.icon-contacts-link:focus .icon-contact-smart {
  fill: var(--blue);
}

.icon-contacts-link:hover,
.icon-contacts-link:focus {
  color: var(--blue);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: none;
}

.logo-container {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black);
}

.menu-nav {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-flex;
  padding-left: 0px;
}

.menu-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav {
  color: var(--grey);
  margin-left: auto;
}

.contacts-nav .link + .link {
  margin-left: 50px;
}

.contacts-nav .icon-contacts-link + .icon-contacts-link {
  margin-left: 30px;
}

.backdrop {
  position: relative;
  top: -2500px;
  left: 90px;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 28, 38, 0.8);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0.5);
}

.modal {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  height: 581px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--duration);
}

.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-modal:hover {
  background-color: var(--blue);
}

.recall-form {
  text-align: left;
}

.form-title {
  margin-bottom: 12px;
  margin-top: 0;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
}

.footer-connection {
  display: inline-block;
  padding-top: 72px;
  margin-left: 93px;
  height: 252px;
}

.email-input {
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  transition: border var(--duration);
}

.email-input:focus {
  border: 1px solid var(--blue);
  outline: none;
}

.footer-btn {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  margin-bottom: 0;
  cursor: pointer;
}

.icon-send-item {
  fill: var(--white);
  width: 24px;
  height: 24px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.form-input {
  padding-left: 42px;
  transition: border-color var(--duration);
  height: 40px;
}

.form-input,
.form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-comment {
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 120px;
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.checkbox-label:focus {
  border: 1px solid var(--blue);
}

.checkbox-link {
  color: var(--blue);
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 54px;
  padding-left: 54px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--blue);
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 30px;
  left: 485px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  transition: color, background-color var(--duration);
}

.btn-close:focus,
.btn-close:hover {
  background-color: var(--white);
  fill: var(--blue);
}

.icon-close {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 9px;
  top: 9px;
}

.footer-btn:focus + .icon-send,
.footer-btn:hover + .icon-send {
  color: var(--black);
}

.form-input:focus {
  border-color: var(--blue);
  outline: none;
}

.form-input:focus + .input-icon {
  fill: var(--blue);
}

.nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.cellar-hero {
  display: block;
  text-align: center;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.png);
  width: 1600px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  text-align: center;
  margin-bottom: 94px;
  height: 600px;
}

.container-hero {
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 452px;
  margin-right: 452px;
  padding-top: 200px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
}

.section-features {
  padding-top: 94px;
  background-color: var(--white);
  margin-bottom: 94px;
}

.container-features {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.container-features img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.container-features .section-label {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.item-features {
  margin-right: 30px;
}

.item-features:nth-child(4n) {
  margin-right: 0;
}

.icon-one::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/antenna.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-two::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/clock.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-three::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/diagram.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-four::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/astronaut.svg);
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0;
}

.title-features {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.contsiner-activity {
  margin-top: 0px;
  padding-bottom: 94px;
}

.section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-bottom: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.container-activity {
  display: inline-flex;
}

.container-activity img {
  margin-right: 30px;
}

.container-activity img:nth-child(3n) {
  margin-right: 0;
}

.thumb {
  position: relative;
  margin: 0;
}

.thumb .name {
  font-family: "Roboto";
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  top: 224px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
}

.team {
  background-color: var(--team-fon);
}

.team h4 {
  padding-top: 94px;
}

.team p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 16px;
}

.section-team {
  width: 1600px;
  height: 708px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.container-time {
  display: inline-flex;
  padding-left: 215px;
  padding-right: 0;
}

.team-item {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-item:nth-child(4n) {
  margin-right: 0;
}

.team-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
}

.clients-bgc {
  background-color: var(--white);
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.clients-logo {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.icon-item:not(:last-child) {
  margin-right: 30px;
}

.icon-link:last-child {
  margin-right: 0;
}

.icon-link {
  display: flex;
  color: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: color, border var(--duration);
}

.icon-clients {
  fill: currentColor;
  transition: fill var(--duration);
}

.icon-link:hover .icon-clients,
.icon-link:focus .icon-clients {
  fill: var(--blue);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--white);
  border: 1px solid #2196f3;
}

.cellar {
  background-color: var(--cellar-fon);
  display: block;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  display: flex;
}

.logo-cellar {
  padding-bottom: 60px;
  padding-top: 60px;
  height: 252px;
}

.footer-logo-link {
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-adress {
  margin-bottom: 9px;
}

.footer-map {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  transition: color var(--duration);
}

.connection {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration);
}

.footer-social {
  margin-left: 70px;
  padding-top: 72px;
  height: 252px;
}

.text-connect {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.header-line {
  background-color: var(--white);
  border: 1px solid #ececec;
  margin-left: 0;
  margin-right: 0;
}

.nav-content {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.element-cont {
  margin-right: 8px;
}

.nav-content .element-cont:last-of-type {
  margin-right: 0px;
}

.content-section {
  padding-bottom: 94px;
}

.container-content {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-examples .link {
  padding-bottom: 20px;
  display: block;
  padding-left: 24px;
  letter-spacing: 1px;
}

.container-examples b {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.container-examples {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0;
  width: 1170px;
  height: 1360px;
}

.element {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.element:nth-child(3n) {
  margin-right: 0;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.element:hover .product-text {
  transform: translateY(0);
  overflow: visible;
  opacity: 1;
}

.element:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-element {
  margin-right: 0;
}

.link-element {
  font-size: 16px;
}

.product-overlay {
  position: relative;
  overflow: hidden;
}

.product-text {
  display: block;
  position: absolute;
  width: 370px;
  height: 294px;
  width: 100%;
  height: 100%;
  margin: 0;
  bottom: 0;
  transform: translateY(100%);
  overflow: hidden;
  opacity: 0;
  transition: var(--duration);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--blue);
  color: var(--white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.item-content {
  display: block;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 12px;
  left: 140px;
}

.checkbox-wrap {
  text-align: center;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.test-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--black);
  border-radius: 2px;
  top: 00px;
  left: -25px;
  margin-left: 8px;
}

.checkbox:checked + .test-icon {
  background-color: var(--blue);
  background-image: url(../images/Vector-icon.svg);
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 35px;
  fill: var(--back);
  transition: fill var(--duration);
}
/*# sourceMappingURL=main.css.map */