.section-features {
  padding-top: 94px;
  background-color: $white;
  margin-bottom: 94px;
}
.container-features {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  & img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
  }
  & .section-label {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.item-features {
  margin-right: 30px;
}

.item-features:nth-child(4n) {
  margin-right: 0;
}
.icon-one::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/antenna.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-two::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/clock.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-three::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/diagram.svg);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-four::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/astronaut.svg);
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $black;
  margin: 0;
}

.title-features {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
