.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field:nth-last-of-type(2) {
  margin-bottom: 20px;
}
.form-input {
  padding-left: 42px;
  transition: border-color var(--duration);
  height: 40px;
}
.form-input,
.form-comment {
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-comment {
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 120px;
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--grey);
}
.checkbox-label:focus {
  border: 1px solid var(--blue);
}

.checkbox-link {
  color: var(--blue);
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 54px;
  padding-left: 54px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--blue);
  cursor: pointer;
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 30px;
  left: 485px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  transition: color, background-color var(--duration);
}
.btn-close:focus,
.btn-close:hover {
  background-color: var(--white);
  fill: var(--blue);
}
.icon-close {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 9px;
  top: 9px;
}
.footer-btn:focus + .icon-send,
.footer-btn:hover + .icon-send {
  color: var(--black);
}

.form-input:focus {
  border-color: var(--blue);
  outline: none;
}
.form-input:focus + .input-icon {
  fill: var(--blue);
}
