.backdrop {
  position: relative;

  top: -2500px;
  left: 90px;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 28, 38, 0.8);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden {
  & .modal {
    transform: translate(-50%, 0%) scale(0.5);
  }
}

.modal {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  height: 581px;
  padding-left: 40px;

  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;

  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform $duration;
}
.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-modal:hover {
  background-color: $blue;
}

.recall-form {
  text-align: left;
}

.form-title {
  margin-bottom: 12px;
  margin-top: 0;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: $black;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.checkbox-wrap {
  text-align: center;
  margin-bottom: 30px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-label {
  display: inline-block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  height: 14px;
  letter-spacing: 0.01em;

  color: $grey;
}
.test-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid $black;

  border-radius: 2px;
  top: 00px;
  left: -25px;
  margin-left: 8px;
}
.checkbox:checked + .test-icon {
  background-color: $blue;
  background-image: url(../images/Vector-icon.svg);
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.input-icon {
  position: absolute;
  left: 15px;
  top: 35px;
  fill: var(--back);
  transition: fill $duration;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color $duration;
  height: 40px;
}

.form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 120px;
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $grey;
}
.checkbox-label:focus {
  border: 1px solid $blue;
}

.checkbox-link {
  color: $blue;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 54px;
  padding-left: 54px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $duration;
}

.form-button:hover,
.form-button:focus {
  background-color: $blue;
  cursor: pointer;
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 30px;
  left: 485px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  color: $black;
  cursor: pointer;
  transition: color, background-color $duration;
}
.btn-close:focus,
.btn-close:hover {
  background-color: $white;
  fill: $blue;
}
.icon-close {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 9px;
  top: 9px;
}
.footer-btn:focus + .icon-send,
.footer-btn:hover + .icon-send {
  color: $black;
}

.form-input:focus {
  border-color: $blue;
  outline: none;
}
.form-input:focus + .input-icon {
  fill: $blue;
}
